.ColorBox {
  width: 20%;
  height: 25%;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copy-button {
  width: 10rem;
  height: 3rem;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  font-size: 1.4rem;
  color: white;
  border: none;
  opacity: 0;
  cursor: pointer;
  backface-visibility: hidden;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.6rem;
  color: black;
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  padding: 0.6rem 1.2rem;
  text-align: center;
  font-size: 0.8rem;
}
