.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: scale(0.1);
  /* which starts as the center of the small box  */
}

.copy-overlay.show {
  opacity: 1;
  transform: scale(20);
  z-index: 10;
  position: absolute;
}

.overlay-msg {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  transform: scale(0.1);
  opacity: 0;
}

.overlay-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 20;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.3s;
}

.overlay-msg h1 {
  font-weight: 400;
  text-shadow: 1px 2px grey;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.overlay-msg p {
  font-size: 1rem;
  font-weight: 100;
}
