.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  margin-right: 1.5rem;
  padding: 0 1.3rem;
  font-size: 1.8rem;
  background-color: #eceff1;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

.slider-container {
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: 200;
}

.slider {
  width: 30rem;
  display: inline-block;
  margin: 0 1rem;
}

.rc-slider-track {
  background: transparent;
}

.rc-slider-rail {
  height: 0.8rem;
  margin-top: -0.1rem;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background: green;
  outline: none;
  border: 0.2rem solid green;
  box-shadow: none;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -0.3rem;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}

#message-id {
  font-size: 1.1rem;
}
